@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



*{
    box-sizing: border-box;
}



body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url(../img/10.png);
}

:root{
    --red-color: #a40101;
    --cian-color:#2ca3ab;
    --gray-color: #c4c4c4;
    --orange-color:#f3610e;
    --blue-color: #1d1b45;
    --black-color: rgb(0, 0, 0);
    --white-color: #ffffff;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
}

p{
    color: var(--gray-color);
    text-align: justify;
}

a{
    font-family: 'Poppins', sans-serif;
    resize: 10px; 
    color: var(--white-color);
}

.header{
    display: flex;
    flex-wrap: wrap;
flex-direction: row-reverse;
align-content: center;
justify-content: space-between;
margin-left: 20px;
margin-top: 25px;
margin-right: 30px;
    
}

.boton-azul {

 
    height: 40px;
    width: 160px;
        background-color: var(--blue-color);
        border-radius: 20px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color:var(--white-color);
        position: relative;
       left:800px;
       top:40px;
    }
    .boton-naranja {

 
        height: 40px;
        width: 160px;
            background-color: var(--orange-color);
            border-radius: 20px;
            font-weight: bold;
            padding: 0.5rem 1rem;
            cursor: pointer;
            color:var(--white-color);
            text-align: center;
            align-content: center;
            position: relative;
            left: 30px;
        }
.boton-azul img{
    color: var(--white-color);
    
}
    
.logo{
    background-color: aquamarine;
   
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
   align-content: center;
   align-items: center;
   
}
.logo img{
    margin-top: 10px;
   margin-left: 50px;
  
}
.logo p{
    color: var(--black-color);
    text-align: center;
 
    
}
.logueo{ 
    background-color: var(--white-color);
    
    width: 400px;
    height: 500px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 570px ;
    
    
}

.formulario{
  
    display: flex;
    justify-content: center;
}
.formulario input{
    border-radius: 45px;
}

.form-group{
    text-align: center;
}


.x{
    border-top: 5px ;
    border-right: 5px;
    border-bottom:5px ;
    border-left:5px;
    
    border-radius: 30px;
    margin: 50px auto;
    padding: 20px;
}

/*resoluci贸n celular*/
@media screen and (max-width: 480px) {
   
   
    .seccion{
    width:100%;
   

    }
    .logueo{

        position: relative;
    top: 80px;
    left: -130px;

    }
    
.boton-azul{
    height: 50px;
    width: 300px;

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
  
        background-color: var(--blue-color);
        border-radius: 20px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color:var(--white-color);
        position: relative;
       left:800px;
       top:40px;
   
}

    body{
        width:100%;
        display: flex;
        justify-content: center;
        
    }
}

/*resoluci贸n tablet*/
@media screen and (min-width: 768px) {
   
   
    .seccion{
    width:100%;
   

    }
    .logueo{

        position: relative;
    top: 200px;
    left: -200px;

    }
    
.boton-azul{
    height: 50px;
    width: 300px;

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
  
        background-color: var(--blue-color);
        border-radius: 20px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color:var(--white-color);
        position: relative;
       left:700px;
       top:80px;
   
}

    body{
        width:100%;
        display: flex;
        justify-content: center;
        
    }
}

/*resoluci贸n portatil*/
@media screen and (min-width: 1024px) {
   
   
    .seccion{
    width:100%;
   

    }
    .logueo{

        position: relative;
    top: 150px;
    left: -250px;

    }
    
.boton-azul{
    height: 50px;
    width: 300px;

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
  
        background-color: var(--blue-color);
        border-radius: 20px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color:var(--white-color);
        position: relative;
       left:700px;
       top:30px;
   
}

    body{
        width:100%;
        display: flex;
        justify-content: center;
        
    }
}

/*resoluci贸n pantallas grandes*/
@media screen and (min-width: 1200px) {
   
   
    .seccion{
    width:100%;
   

    }
    .logueo{

        position: relative;
    top: 300px;
    left: -300px;

    }
    
.boton-azul{
    height: 50px;
    width: 150px;

    font-family: 'Poppins', sans-serif;
    font-size: 10px;
  
        background-color: var(--blue-color);
        border-radius: 20px;
        font-weight: bold;
        padding: 0.5rem 1rem;
        cursor: pointer;
        color:var(--white-color);
        position: relative;
       left:700px;
       top:200px;
   
}

    body{
        width:100%;
        display: flex;
        justify-content: center;
        
    }
}